{% extends "base.html" %}

{% block title %}Font Preview - GetPlugged{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Font Preview</h1>
    <p class="mb-5">Below are samples of all the Google Fonts loaded on this site. Use this page to compare and choose your favorites for headings and body text.</p>

    <div class="mb-5">
        <h2 style="font-family: 'IBM Plex Sans', sans-serif;">IBM Plex Sans</h2>
        <p style="font-family: 'IBM Plex Sans', sans-serif;">
            The quick brown fox jumps over the lazy dog. 1234567890 !@#$%^&amp;*()_+
        </p>
    </div>
    <div class="mb-5">
        <h2 style="font-family: 'IBM Plex Serif', serif;">IBM Plex Serif</h2>
        <p style="font-family: 'IBM Plex Serif', serif;">
            The quick brown fox jumps over the lazy dog. 1234567890 !@#$%^&amp;*()_+
        </p>
    </div>
    <div class="mb-5">
        <h2 style="font-family: 'Chivo', sans-serif;">Chivo</h2>
        <p style="font-family: 'Chivo', sans-serif;">
            The quick brown fox jumps over the lazy dog. 1234567890 !@#$%^&amp;*()_+
        </p>
    </div>
    <div class="mb-5">
        <h2 style="font-family: 'Merriweather', serif;">Merriweather</h2>
        <p style="font-family: 'Merriweather', serif;">
            The quick brown fox jumps over the lazy dog. 1234567890 !@#$%^&amp;*()_+
        </p>
    </div>
    <div class="mb-5">
        <h2 style="font-family: 'Spectral', serif;">Spectral</h2>
        <p style="font-family: 'Spectral', serif;">
            The quick brown fox jumps over the lazy dog. 1234567890 !@#$%^&amp;*()_+
        </p>
    </div>
    <div class="mb-5">
        <h2 style="font-family: 'Be Vietnam Pro', sans-serif;">Be Vietnam Pro</h2>
        <p style="font-family: 'Be Vietnam Pro', sans-serif;">
            The quick brown fox jumps over the lazy dog. 1234567890 !@#$%^&amp;*()_+
        </p>
    </div>
    <div class="mb-5">
        <h2 style="font-family: 'Open Sans', sans-serif;">Open Sans</h2>
        <p style="font-family: 'Open Sans', sans-serif;">
            The quick brown fox jumps over the lazy dog. 1234567890 !@#$%^&amp;*()_+
        </p>
    </div>
</div>
{% endblock %}